name: Update EPG

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Run EPG collector
        run: php epg_collector.php > epg.xml

      - name: Compress epg.xml
        run: gzip -9 -c epg.xml > epg.xml.gz

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: . # include epg.xml.gz

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
